<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Audit Management Solution</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <th:block layout:fragment="style"></th:block>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script>
        const username = "[[${session.username}]]";
        $(function() {
            if(!username){
                location = '/';

            }
        });
    </script>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
            <img class="img-fluid" height="50" th:src="@{/img/demotek_logo.png}" width="50">
            <div class="sidebar-brand-text mx-3" style="color: #ec4d26">Audit Manager</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="#">
                <i class="fas fa-fw fa-cog"></i>
                <span>Audit Planning</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/audit-universe">Universe</a>
                    <a class="collapse-item" href="/audit-entity">Entity</a>
                    <a class="collapse-item" href="/audit-scope">Scope</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/audit-scope/execute/'+${session.universe}}">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Audit Execution</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/exception">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Exception Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/report">
                <i class="fas fa-fw fa-sticky-note"></i>
                <span>Report</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/audit-user">
                <i class="fas fa-fw fa-user"></i>
                <span>User Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a aria-controls="collapseThree" aria-expanded="true" class="nav-link collapsed" data-target="#collapseThree"
               data-toggle="collapse" href="#">
                <i class="fas fa-fw fa-cogs"></i>
                <span>Settings</span>
            </a>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionSidebar" id="collapseThree">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">Create User</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input aria-describedby="basic-addon2" aria-label="Search" class="form-control bg-light border-0 small"
                               placeholder="Search for..." type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div>
                    <em class="text-dark" th:text="${session.username}"></em>
                    <a class="btn btn-info btn-sm" data-target="#universeModal" data-toggle="modal"><span class="fa fa-globe">Change</span></a>
                </div>

                <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                <ul>
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.username}"></span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{/img/undraw_profile.svg}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div layout:fragment="content"></div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Demotek Global Technologies Limited 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Click logout to end current session</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-primary" href="/">Logout</a>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="universeModalLabel" class="modal fade" id="universeModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="universeModalLabel">Choose a universe</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="entUniv">Select Universe</label>
                    <select class="form-control" id="entUniv">
                        <option label="Select Universe"></option>
                        <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                th:value="${uni.getUniverseId()}"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/moment.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>


<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<script>
    $(document).ready(function() {
        if(username){
            let getUniverse = sessionStorage.getItem('universe');

            if(getUniverse == '' || getUniverse == null){
                $('#universeModal').modal('show');

            }
        }
    });

    $('#entUniv').change(() => {
        let universe = $('#entUniv').val();
        if(universe == '' || null){
            return;
        }

        sessionStorage.setItem("universe", universe);
        location.reload();
    });
</script>
<th:block layout:fragment="script"></th:block>
</body>

</html>