<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>

    <!-- Propeller Accordion -->
    <!--    <link-->
    <!--            href="https://opensource.propeller.in/components/floating-action-button/css/floating-action-button.css"-->
    <!--            rel="stylesheet" type="text/css"/>-->

    <!--    <link-->
    <!--            href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"-->
    <!--            rel="stylesheet">-->
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="h3 mb-2 text-gray-800">Audit Approvals</h1>
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Approvals
                        </div>
                        <div class="card-body p-0">
                            <!-- Billing history table-->
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-gray-200" hidden="hidden" scope="col">ScopeId</th>
                                        <th class="border-gray-200" scope="col">Scope</th>
                                        <th class="border-gray-200" scope="col">Frequency</th>
                                        <th class="border-gray-200" scope="col">Start Date</th>
                                        <th class="border-gray-200" scope="col">User</th>
                                        <th class="border-gray-200" scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="app : ${approval}"
                                        th:id="${'rID'} + ${app.getScopeId()}">
                                        <td hidden="hidden" th:text="${app.getScopeId()}"></td>
                                        <td th:text="${app.getScopeOfAudit()}"></td>
                                        <td th:text="${app.getFrequency()}"></td>
                                        <td th:text="${app.getAuditStartDate()}"></td>
                                        <td th:text="${app.getUserName()}"></td>
                                        <td>&nbsp;
                                            <a th:href="@{/audit-scope/preview/{scopeId}(scopeId=${app.scopeId})}" th:title="View">
                                                <span class="fa fa-search-plus"></span>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a th:href="@{/audit-scope/approvals/{scopeId}/approve(scopeId=${app.scopeId})}" th:title="Approve">
                                                <span class="fa fa-check"></span>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a th:href="@{/audit-scope/approvals/{scopeId}/decline(scopeId=${app.scopeId})}" th:title="Decline">
                                                <span class="fa fa-stop"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!--    <script-->
    <!--            src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
    <!--    <script-->
    <!--            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--    <script-->
    <!--            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
    <script th:src="@{/js/custom.js}"></script>
</th:block>
</body>
</html>