<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>

    <!-- Propeller Accordion -->
    <!--    <link-->
    <!--            href="https://opensource.propeller.in/components/floating-action-button/css/floating-action-button.css"-->
    <!--            rel="stylesheet" type="text/css"/>-->

    <!--    <link-->
    <!--            href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"-->
    <!--            rel="stylesheet">-->
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="h3 mb-2 text-gray-800">Exception Management</h1>
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Audit Exceptions
                        </div>
                        <div class="card-body p-0">
                            <!-- Billing history table-->
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">Universe</th>
                                        <th class="border-gray-200" scope="col">Entity</th>
                                        <th class="border-gray-200" scope="col">Focus</th>
                                        <th class="border-gray-200" scope="col">Process</th>
                                        <th class="border-gray-200" scope="col">Status</th>
                                        <th class="border-gray-200" scope="col">Risk Rating</th>
                                        <th class="border-gray-200" scope="col">Recommendations</th>
                                        <th class="border-gray-200" scope="col">Reference</th>
                                        <th class="border-gray-200" scope="col">Auditor</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!--    <script-->
    <!--            src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
    <!--    <script-->
    <!--            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--    <script-->
    <!--            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
    <script th:src="@{/js/custom.js}"></script>
</th:block>
</body>
</html>