<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Audit Approval</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
<!--                            <li>-->
<!--                                <a href="javascript:void(0)" class="create-scope" data-container="body"-->
<!--                                   data-placement="top"-->
<!--                                   title="" data-original-title="Tables" >-->
<!--                                    <i data-feather="plus"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="javascript:void(0)" data-container="body"-->
<!--                                   data-bs-toggle="popover" data-placement="top"-->
<!--                                   title="" data-original-title="Tables">-->
<!--                                    <i data-feather="inbox"></i>-->
<!--                                </a>-->
<!--                            </li>-->

                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div id="msg">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display scope-table" id="basic-1">
                                <thead>
                                <tr>
                                    <th class="border-gray-200" hidden="hidden" scope="col">ScopeId</th>
                                    <th class="border-gray-200" scope="col">Scope</th>
                                    <th class="border-gray-200" scope="col">Frequency</th>
                                    <th class="border-gray-200" scope="col">Start Date</th>
                                    <th class="border-gray-200" scope="col">User</th>
                                    <th class="border-gray-200" scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="app : ${approval}"
                                        th:id="${'rID'} + ${app.getScopeId()}">
                                        <td hidden="hidden" th:text="${app.getScopeId()}"></td>
                                        <td th:text="${app.getScopeOfAudit()}"></td>
                                        <td th:text="${app.getFrequency()}"></td>
                                        <td th:text="${app.getAuditStartDate()}"></td>
                                        <td th:text="${app.getUserName()}"></td>
                                        <td>&nbsp;
                                            <a th:href="@{/audit-scope/preview/{scopeId}(scopeId=${app.scopeId})}" th:title="View">
                                                <span class="fa fa-search-plus"></span>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a th:href="@{/audit-scope/approvals/{scopeId}/approve(scopeId=${app.scopeId})}" th:title="Approve">
                                                <span class="fa fa-check"></span>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a th:href="@{/audit-scope/approvals/{scopeId}/decline(scopeId=${app.scopeId})}" th:title="Decline">
                                                <span class="fa fa-stop"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
<!--    <script th:src="@{/js/custom.js}"></script>-->
</th:block>
</body>
</html>