<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}">
</th:block>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800">Audit Scope</h1>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="">
                            <h1 class="h4 text-gray-900 mb-4">Create Scope
                                <a data-target="#uploadModal" data-toggle="modal" href="javascript:void(0)">
                                    <span class="float-right fa fa-upload"></span>
                                </a>
                            </h1>
                        </div>
                        <form class="user" method="post" th:action="@{/audit-scope/save}"
                              th:object="${scope}">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="universeSelect">Universe<span style="color: red">*</span></label>
                                    <select class="form-control" id="universeSelect" required="required">
                                        <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                                th:value="${uni.getUniverseId()}"></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="entitySelect">Entity<span style="color: red">*</span></label>
                                    <select class="form-control" id="entitySelect" required="required" th:field="*{entityId}">
                                        <option th:each="uni : ${universe}"
                                                th:text="${uni.getUniverseName()}"
                                                th:value="${uni.getUniverseId()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="scopeName">Scope of Audit<span style="color: red">*</span></label>
                                    <input class="form-control" id="scopeName" required="required"
                                           th:field="*{scopeOfAudit}" type="text">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="scopePeriod">Scope Period (Weeks)<span style="color: red">*</span></label>
                                    <input class="form-control" id="scopePeriod" required="required"
                                           th:field="*{auditPeriod}" type="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="scopeStartDate">Start Date<span style="color: red">*</span></label>
                                    <input class="form-control" id="scopeStartDate" required="required"
                                           th:field="*{auditStartDate}" type="date"/>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="auditType">Audit Type<span style="color: red">*</span></label>
                                    <select class="form-control" id="auditType" required="required" th:field="*{auditType}">
                                        <option value="1">Routine</option>
                                        <option value="2">Adhoc</option>
                                        <option value="3">Spot check</option>
                                        <option value="4">Follow-up</option>
                                        <option value="5">Special investigation</option>
                                    </select>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="definition">Scope Definition</label>
                                    <textarea class="form-control" id="definition" rows="5"
                                    th:field="*{scopeDef}">
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="objective">Objectives</label>
                                    <textarea class="form-control" id="objective" rows="5"
                                              th:field="*{scopeObjectives}">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="purpose">Purpose</label>
                                    <textarea class="form-control" id="purpose" rows="5"
                                              th:field="*{scopePurpose}">
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="enddDate">End Date</label>
                                    <input class="form-control" id="endDate" th:field="*{auditEndDate}" type="date"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0"></div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <button class="btn btn-sm btn-success col-sm-6 float-right" name="action" type="submit"
                                            value="approve">
                                        Send for Approval
                                    </button>
                                    <button class="btn btn-sm btn-primary col-sm-6 float-right" name="action" type="submit"
                                            value="save">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="uploadModalLabel" class="modal fade" id="uploadModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Universe</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" th:action="@{/audit-scope/}">
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="scopeUpload">Upload Excel File</label>
                                <input accept=".xlsx, .xls, .csv" class="form-control" id="scopeUpload" name="scopeUpload"
                                       type="file">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

</th:block>

</body>
</html>