<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}">
</th:block>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800">Audit Entity</h1>
    <div class="card mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="dropdown col-md-6 mb-4">
                    <label for="universe">Select Universe</label>
                    <select class="form-control" id="universe">
                        <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                th:value="${uni.getUniverseId()}"></option>
                    </select>

                </div>
                <div class="dropdown col-md-6 mb-4">
                    <label for="entity">Select Entity</label>
                    <select class="form-control" id="entity">
                        <option value="$nbsp;"></option>
                    </select>

                </div>
            </div>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Audit Entity
                <a href="javascript:void(0)" data-toggle="modal" data-target="#" title="Import Audit Entity"><i class="fas fa-file-import float-right"></i></a>&nbsp;&nbsp;
                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal"><span class="fa fa-plus float-right"></span></a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>Entity Id</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Entity Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Universe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="formUniverse">Select Universe</label>
                            <select class="form-control" id="formUniverse">
                                <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                        th:value="${uni.getUniverseId()}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="entityName">Universe Name</label>
                            <input class="form-control" name="entityName" id="entityName" placeholder="Entity Name"
                                   type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="this.text='processing'; this.disabled=true; addEntity()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <script>

        $('#universe').on('change', () =>{
            let uniId = $('#universe').val();
            if(uniId < 1 ){
                return;
            }
            getEntity(uniId, "entity");
        });
        const getEntity = (id, elementId) => {
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/" + id;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    $("#" + elementId).html(`<option label="&nbsp;"></option>`);
                    let res = JSON.parse(xhr.responseText);
                    let data = JSON.parse(res).data;
                    if (JSON.parse(res).success) {
                        data.forEach(t => {
                            let e = `<option value="${t.id}"> ${t.entityName} </option>`;
                            $("#" + elementId).append(e);
                        });
                    }

                }
            } catch (t) { }
        }

        const addEntity = () => {
            let entName = $('#entityName').val();
            let uniId = $('#formUniverse').val();
            if(uniId < 1) {
                alert("Select universe name is required!");
                return;
            }
            if(entName == "") {
                alert("Entity name is required!");
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/add-entity";
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send(JSON.stringify({'universeName': uniName }));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {

                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    let data = JSON.parse(res).data;
                    if (JSON.parse(res).success) {

                    }

                }
            } catch (t) { }
        }

    </script>

</th:block>
</body>
</html>