<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</th:block>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800">Audit Entity</h1>
    <div class="card mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="dropdown col-md-12 mb-4">
                    <label for="universe">Select Universe</label>
                    <select class="form-control" id="universe">
                        <option label="&nbsp;"></option>
                        <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                th:value="${uni.getUniverseId()}"></option>
                    </select>

                </div>
            </div>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Audit Entity
                <a href="javascript:void(0)" class="btn btn-info mr-2 float-right" data-toggle="modal" data-target="#uplaodModal">
                    <span class="fa fa-upload float-right"></span>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary mr-2 float-right" data-toggle="modal" data-target="#exampleModal" title="Import Audit Entity">
                    <span class="fa fa-plus float-right"></span>
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>Entity Id</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Entity Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Audit Entity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" th:action="@{/audit-entity}" th:object="${entityObj}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="formUniverse">Select Universe</label>
                                <select class="form-control" id="formUniverse" th:field="*{universeId}">
                                    <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                            th:value="${uni.getUniverseId()}"></option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="entityName">Entity Name</label>
                                <input class="form-control" name="entityName" id="entityName" placeholder="Entity Name"
                                       th:field="*{entityName}"
                                       type="text">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="uplaodModal" tabindex="-1" role="dialog" aria-labelledby="uplaodModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Upload Audit Entity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="dropzone"
                              id="my-awesome-dropzone">
                            <input type="file" name="file" class="form-control-file" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <script>

        $('#universe').on('change', () =>{
            let uniId = $('#universe').val();
            if(uniId < 1 ){
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/get-by-universe/" + uniId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                        if(res){
                            entityTemp(res);
                        }
                }
            } catch (t) { }
        });

        const entityTemp = (data) => {
            $('.table-bordered tbody').html('');
            data.forEach(x => {
                let res = `<tr>
                               <td>${x.entityId}</td>
                               <td>${x.entityName}</td>
                               <td>
                                    <a href="#" class="btn btn-warning btn-sm"><span class="fa fa-pen"></span></a>
                                    <a href="#" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                               </td>
                        </tr>`;

                $('.table-bordered tbody').append(res);
            });

        }
    </script>

</th:block>
</body>
</html>