<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Entities</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" data-container="body"
                                   data-placement="top"
                                   title="" data-original-title="Tables" data-bs-toggle="modal"
                                   data-bs-target="#entityModal">
                                    <i data-feather="plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-container="body"
                                   data-bs-toggle="popover" data-placement="top"
                                   title="" data-original-title="Tables">
                                    <i data-feather="inbox"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label" for="universe">Select Universe</label>
                                <select class="form-select digits" id="universe">
                                    <option value="0">Select Universe</option>
                                    <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                            th:value="${uni.getUniverseId()}"></option>
                                </select>
                            </div>
                        </div>
                        <div id="msg">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" id="basic-1">
                                <thead>
                                <tr>
                                    <th>Unique Ref</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${entities != null}"
                                        th:each="ent : ${entities}"
                                        th:id="${'rID'} + ${ent.getEntityId()}">
                                        <td th:text="${'DEM' + ent.getEntityId() + 'ENT'}"></td>
                                        <td th:text="${ent.getEntityName()}"></td>
                                        <td class="text-center">&nbsp;
                                            <a href="javascript:void(0)"
                                               class="btn btn-warning btn-sm"
                                               data-toggle="modal" data-target="#"
                                               th:data-ent_id="${ent.getEntityId()}"
                                               onclick="openEditModal(this.getAttribute('data-ent_id'))">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                            <a href="javascript:void(0)"
                                               class="btn btn-danger btn-sm"
                                               id="delete"
                                               th:data-ent_id="${ent.getEntityId()}"
                                               onclick="deleteEntity(this.getAttribute('data-ent_id'))">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading -->
    <div class="modal fade" id="entityModal" tabindex="-1" role="dialog" aria-labelledby="entityModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Audit Entity</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/audit-entity/}" th:object="${entityObj}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="formUniverse">Select Universe</label>
                                <select class="form-control" id="formUniverse" th:field="*{universeId}">
                                    <option value="0">Select Universe</option>
                                    <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                            th:value="${uni.getUniverseId()}"></option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="entityName">Entity Name</label>
                                <input class="form-control" name="entityName" id="entityName" placeholder="Entity Name"
                                       th:field="*{entityName}"
                                       type="text">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

<!--    edit modal-->
    <div class="modal fade" id="editEntModal" tabindex="-1" role="dialog" aria-labelledby="editEntModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Audit Entity</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/audit-entity/update}" th:object="${entityObj}">
                        <div class="modal-body">
                            <input hidden="hidden" id="entityId" th:field="*{entityId}">
                            <div class="mb-3">
                                <label for="entUniv">Select Universe</label>
                                <select class="form-control" id="entUniv" th:field="*{universeId}">
                                    <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                            th:value="${uni.getUniverseId()}"></option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="entName">Entity Name</label>
                                <input class="form-control" name="entityName" id="entName" placeholder="Entity Name"
                                       th:field="*{entityName}"
                                       type="text">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <script>

        $('#universe').on('change', () =>{
            let uniId = $('#universe').val();
            if(uniId < 1 ){
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/get-by-universeId/" + uniId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                        if(res){
                            entityTemp(res);
                        }
                }
            } catch (t) { }
        });

        const entityTemp = (data) => {
            $('.display tbody').html('');
            data.forEach(x => {
                let res = `<tr>
                               <td>DEM${x.entityId}ENT</td>
                               <td>${x.entityName}</td>
                               <td>
                                    <a href="javascript:void(0)" class="btn btn-warning btn-sm"  data-toggle="modal" data-target="#" onclick="openEditModal(${x.entityId})"><span class="fa fa-pen"></span></a>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="deleteEntity(${x.entityId})"><span class="fa fa-trash"></span></a>
                               </td>
                        </tr>`;

                $('.display tbody').append(res);
            });
        }

        $(document).ready(() => {
            let url = $(location).attr('href'),
                parts = url.split("/"),
                last_part = parts[parts.length-1];
            console.log(last_part);
            Number(last_part) ? (setSelectedOption('#universe', last_part)): ($("#universe option:eq(1)").prop("selected", true),
            $('#universe').change());

        });


        const openEditModal = (id) => {
            let entId = id;
            $('#editEntModal').modal('show');
            if(entId < 1){
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/" + entId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);

                    if(res){
                        $('#editEntModal').modal('show');
                        $('#entityId').val(entId);
                        setSelectedOption('#entUniv', res['universeId']);
                        $('#entName').val(res['entityName']);
                    }
                }
            } catch (t) { }

        }

        const setSelectedOption = (id, value) =>{

            $(id + ' option').each(function () {
                if ($(this).val() == value) {
                    $(this).prop("selected", true);
                }
            });
        }

        function deleteEntity(id) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this Entity?')) {
                let xhr = new XMLHttpRequest();
                let url = "/audit-entity/" + id;
                xhr.open('DELETE', url, false);
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                try {

                    xhr.send();
                    if (xhr.status != 200) {
                        //alert('Something went wrong try again!');
                        location.reload();
                    } else {
                       location.reload();

                    }
                } catch (t) {  location.reload(); }

            } else {
                $('#delete').attr('disabled', false);
            }

        }

    </script>

</th:block>
</body>
</html>