<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="h3 mb-2 text-gray-800">Exception Management</h1>
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Audit Exceptions
                            <a class="btn btn-primary mr-2 float-right" data-target="#assignModal" data-toggle="modal">
                                <span class="fa fa-envelope float-right"></span>
                            </a>
                        </div>
                        <div class="card-body p-0">
                            <!-- Billing history table-->
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">-</th>
                                        <th class="border-gray-200" scope="col">Universe</th>
                                        <th class="border-gray-200" scope="col">Entity</th>
                                        <th class="border-gray-200" scope="col">Focus</th>
                                        <th class="border-gray-200" scope="col">Process</th>
                                        <th class="border-gray-200" scope="col">Status</th>
                                        <th class="border-gray-200" scope="col">Risk Rating</th>
                                        <th class="border-gray-200" scope="col">Recommendations</th>
                                        <th class="border-gray-200" scope="col">Reference</th>
                                        <th class="border-gray-200" scope="col">Auditor</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="app : ${proc}"
                                        th:id="${'rID'} + ${app.getId()}">
                                        <td><input class="form-control" type="checkbox"></td>
                                        <td hidden="hidden" th:text="${app.getId()}"></td>
                                        <td th:text="${app.getUniverse()}"></td>
                                        <td th:text="${app.getEntity()}"></td>
                                        <td th:text="${app.getFocus()}"></td>
                                        <td th:text="${app.getProcess()}"></td>
                                        <td th:text="${app.getStatus()}"></td>
                                        <td th:text="${app.getRiskRating()}"></td>
                                        <td th:text="${app.getRecommendation()}"></td>
                                        <td th:text="${app.getReference()}"></td>
                                        <td th:text="${app.getAuditor()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="assignModalLabel" class="modal fade" id="assignModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="focusModalLabel">Choose Auditor</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="user" method="post" th:action="@{/exception/send}">
                    <div class="modal-body">
                        <input class="scope-id" type="hidden" value="">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="forAuditor">Auditor</label>
                                <select class="form-control" id="forAuditor" name="exceptionEmail">
                                    <option th:each="rol : ${user}" th:text="${rol.getUsername()}"
                                            th:value="${rol.getUsername()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/custom.js}"></script>
</th:block>
</body>
</html>