<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Exception Management</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="create-scope" data-container="body"
                                   data-bs-toggle="modal"
                                   data-bs-target="#assignModal"
                                   data-placement="top"
                                   title="" data-original-title="Tables" >
                                    <i data-feather="inbox"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div id="msg">
                        </div>
                        <h5>Audit Exceptions</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display scope-table" id="basic-1">
                                <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">-</th>
                                        <th class="border-gray-200" scope="col">Universe</th>
                                        <th class="border-gray-200" scope="col">Entity</th>
                                        <th class="border-gray-200" scope="col">Focus</th>
                                        <th class="border-gray-200" scope="col">Process</th>
                                        <th class="border-gray-200" scope="col">Status</th>
                                        <th class="border-gray-200" scope="col">Risk Rating</th>
                                        <th class="border-gray-200" scope="col">Recommendations</th>
                                        <th class="border-gray-200" scope="col">Reference</th>
                                        <th class="border-gray-200" scope="col">Auditor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="app : ${proc}"
                                        th:id="${'rID'} + ${app.getId()}">
                                        <td><input class="form-control" type="checkbox"></td>
                                        <td hidden="hidden" th:text="${app.getId()}"></td>
                                        <td th:text="${app.getUniverse()}"></td>
                                        <td th:text="${app.getEntity()}"></td>
                                        <td th:text="${app.getFocus()}"></td>
                                        <td th:text="${app.getProcess()}"></td>
                                        <td th:text="${app.getStatus()}"></td>
                                        <td th:text="${app.getRiskRating()}"></td>
                                        <td th:text="${app.getRecommendation()}"></td>
                                        <td th:text="${app.getReference()}"></td>
                                        <td th:text="${app.getAuditor()}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Auditor</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="user" method="post" th:action="@{/exception/send}">
                    <div class="modal-body">
                        <input class="scope-id" type="hidden" value="">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="forAuditor">Auditor</label>
                                <select class="form-control" id="forAuditor" name="exceptionEmail">
                                    <option th:each="rol : ${user}" th:text="${rol.getUsername()}"
                                            th:value="${rol.getUsername()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script th:src="@{/js/custom.js}"></script>
</th:block>
</body>
</html>