<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 mb-2 text-gray-800">Process Management</h1>
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Focus Procedure
                        </div>
                        <div class="card-body p-0">
                            <div class="dropdown-list dropdown-menu-right shadow focus-procedure"
                                 aria-labelledby="messagesDropdown">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="focusModal" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="focusModalLabel">Execution Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user" method="post" th:action="@{/audit-procedures}">
                        <div class="modal-body">
                            <div class="form-group row">
                                <input hidden="hidden" id="procId" type="text" value=""/>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="controlstatus">Control Status</label>
                                    <select class="form-control" id="controlstatus" name="controlStatus">
                                        <option>Select Control Status</option>
                                        <option value="Adequate">Adequate</option>
                                        <option value="Partially Adequate">Partially Adequate</option>
                                        <option value="Inadequate">Inadequate</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="riskrating">Risk Rating</label>
                                    <select class="form-control" id="riskrating" name="riskRating">
                                        <option>Select Rating</option>
                                        <option value="very high">Very High</option>
                                        <option value="high">High</option>
                                        <option value="medium">Medium</option>
                                        <option value="low">Low</option>
                                        <option value="process improvement">Process Improvement</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="exception">Exception</label>
                                    <textarea class="form-control" id="exception" name="exception" rows="5">
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="recommendation">Recommendation</label>
                                    <textarea class="form-control" id="recommendation" name="recommendation" rows="5">
                                    </textarea>

                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="additionalinfo">Additional Info</label>
                                    <textarea class="form-control" id="additionalinfo" name="additionalInfo" rows="5">
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="comment">Comment</label>
                                    <textarea class="form-control" id="comment" name="comments" rows="5">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button type="button" class="btn btn-secondary btn-completed">Mark as Completed</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="script">

    <script>
        $(document).ready(() => {
            let focusId = sessionStorage.getItem("focusId");
            getProcedure(focusId);
        });

        const getProcedure = (id) => {
            console.log('here');
            let xhr = new XMLHttpRequest();
            let url = `/audit-procedures/procedure/${id}`;
            xhr.open('Get', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    if(res){
                        procedureTable(res);
                    }
                }
            } catch (t) { }
        }


        const procedureTable = (data) => {
            if(data){
                $('.focus-procedure').html('');
                data.forEach( (x, index) => {
                    let res = `
                    <a class="dropdown-item d-flex align-items-center border-bottom-1 border-bottom-primary"
                                   href="#" data-toggle="modal" data-target="#focusModal" style="pointer-events: ${x.startFlag}">
                                    <div class="dropdown-list-image mr-3">
                                        <span><i class="fa fa-tasks"></i></span>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">${x.procedure}
                                        <span class="ml-3 badge badge-${x.status === 'COMPLETED' ? 'success' : 'warning'}">${x.status}</span>
                                        </div>
                                    </div>
                                </a>
                   `;
                    $('.focus-procedure').append(res);
                });
            }else{
                $('.focus-procedure').html(' <div class="text-truncate">Procedure not added created one!</div>');
            }
        }

        const  startExecution =() => alert(confirm("Are you sure to start this procedure execution"))
    </script>
</th:block>
</body>
</html>