<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>

    <!-- Propeller Accordion -->
    <!--    <link-->
    <!--            href="https://opensource.propeller.in/components/floating-action-button/css/floating-action-button.css"-->
    <!--            rel="stylesheet" type="text/css"/>-->

    <!--    <link-->
    <!--            href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"-->
    <!--            rel="stylesheet">-->
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <h1 class="h3 mb-2 text-gray-800">Procedure Management</h1>
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Focus Procedure
                        </div>
                        <div class="card-body p-0">
                            <div class="dropdown-list dropdown-menu-right shadow"
                                 aria-labelledby="messagesDropdown">
                                <a class="dropdown-item d-flex align-items-center border-bottom-1 border-bottom-primary"
                                   href="#" data-toggle="modal" data-target="#focusModal">
                                    <div class="dropdown-list-image mr-3">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Start Date: <small>2-12/2022</small>
                                            <span class="float-right">End Date: <small>3-12-2022</small></span>
                                        </div>
                                    </div>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="focusModal" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="focusModalLabel">Procedure Setting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user" method="post">
                        <div class="modal-body">

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="recipientname">Recipient Name<span style="color: red">*</span></label>
                                    <input class="form-control" id="recipientname" required="required"
                                          type="text">
                                </div>

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="recipientemail">Recipient Email<span style="color: red">*</span></label>
                                    <input class="form-control" id="recipientemail" required="required"
                                            type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="controlstatus">Control Status<span style="color: red">*</span></label>
                                    <select class="form-control" id="controlstatus" required="required">
                                        <option value="Adequate">Adequate</option>
                                        <option value="Partially Adequate">Partially Adequate</option>
                                        <option value="Inadequate">Inadequate</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="riskrating">Risk Rating<span style="color: red">*</span></label>
                                    <select class="form-control" id="riskrating" required="required"
                                           >
                                        <option value="very high">Very High</option>
                                        <option value="high">High</option>
                                        <option value="medium">Medium</option>
                                        <option value="low">Low</option>
                                        <option value="process improvement">Process Improvement</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="exception">Focus Exception<span style="color: red">*</span></label>
                                    <input class="form-control" id=exception required="required"
                                            type="text">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="recommendation">Focus Recommendation</label>
                                    <input class="form-control" id="recommendation" required="required"
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="startDate">Schedule Date<span style="color: red">*</span></label>
                                    <input class="form-control" id="startDate" required="required"
                                             type="date"/>
                                </div>
                                <div class="col-md-6 mb-3 mb-sm-0">
                                    <label for="workprogram">Work Program Start<span style="color: red">*</span></label>
                                    <select class="form-control" id="workprogram" required="required" >
                                        <option value="SCHEDULED">SCHEDULED</option>
                                        <option value="ACTIVE">ACTIVE</option>
                                        <option value="IN-PROGRESS">IN-PROGRESS</option>
                                        <option value="COMPLETED">COMPLETED</option>
                                    </select>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="additionalinfo">Additional Info</label>
                                    <textarea class="form-control" id="additionalinfo" rows="5"
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="comment">Comment</label>
                                    <textarea class="form-control" id="comment" rows="5"
                                              >
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="script">

    <script>
        let tempData = [];
        let j = 1;

        function deleteExp(entryName, entryId) {
            $('#exp').attr('disabled', true);
            if (confirm('Are you sure to delete this record?')) {
                $.ajax({
                    type: 'Get',
                    url: '/employee/delete-entry/' + entryName + entryId,
                    headers: {
                        Authorization: token,
                        'Content-Type': "application/json"
                    },
                    success: function (data) {
                        $('#exp').attr('disabled', false);
                        $('#entry_msg').html(message(data.data));
                        $('#rID' + entryId).remove();
                    },
                    error: function (responce) {
                        $('#exp').attr('disabled', false);
                        $('#entry_msg').html(message("Something went wrong try again."));
                    }
                });
            }
        }

        function message(msg) {
            return `<div class="alert alert-primary alert-dismissible fade show" role="alert">
				${msg}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>`
        }

        function addFamily(username) {
            let children = {'children': tempData};
            children["spouse_name"] = $('#spouse').val();
            console.log(JSON.stringify(children));
            if (tempData.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '/employee/add-family/' + username,
                    data: JSON.stringify(children),
                    headers: {
                        Authorization: token,
                        'Content-Type': "application/json"
                    },
                    success: function (data) {
                        $('#entry_msg').html(message(data.data));
                        tempData = [];
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    error: function (responce) {
                        console.log(responce);
                        const errorCode = responce.responseJSON["responseCode"];
                        $('#btn-child').attr("dissable", false).html("Next");
                        if (errorCode === 99) {
                            let res = "Your request failed make sure all required field are properly filled and try again.";
                            $('#msg').html(msg(res, "warning"));
                        } else {
                            let res = "something went wrong try again later.";
                            $('#msg').html(msg(res, "warning"));
                        }
                    }
                });
            }
        }

        function clearData() {
            $('#childname').val("");
            $('#childdob').val("");
            $('#childname').focus();
        }

        function deleteUpload(oraId, uploadId) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this document?')) {
                $.ajax({
                    type: 'Get',
                    url: '/employee/delete-user-upload/' + oraId + '/' + uploadId,
                    headers: {
                        Authorization: token,
                        'Content-Type': "application/json"
                    },
                    success: function (data) {
                        $('#delete').attr('disabled', false);
                        $('#msg').html(message(data.data));
                        $('#docsTable' + oraId).remove();
                        document.location.reload();
                    },
                    error: function (responce) {
                        $('#changeStatus').attr('disabled', false);
                        $('#msg').html(
                            message("Something went wrong try again."));
                    }
                });
            } else {
                $('#changeStatus').attr('disabled', false);
            }

        }

        function deletePromotion(oraId, promoId) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this document?')) {
                $.ajax({
                    type: 'Get',
                    url: '/employee/delete-user-promotion/' + promoId,
                    headers: {
                        Authorization: token,
                        'Content-Type': "application/json"
                    },
                    success: function (data) {
                        $('#delete').attr('disabled', false);
                        $('#msg').html(message(data.data));
                        $('#docsTable' + oraId).remove();
                        document.location.reload();
                    },
                    error: function (responce) {
                        $('#changeStatus').attr('disabled', false);
                        $('#msg').html(
                            message("Something went wrong try again."));
                    }
                });
            } else {
                $('#changeStatus').attr('disabled', false);
            }

        }
    </script>
</th:block>
</body>
</html>