<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Report</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <!--                            <li>-->
                            <!--                                <a href="javascript:void(0)" class="create-scope" data-container="body"-->
                            <!--                                   data-placement="top"-->
                            <!--                                   title="" data-original-title="Tables" >-->
                            <!--                                    <i data-feather="plus"></i>-->
                            <!--                                </a>-->
                            <!--                            </li>-->
                            <!--                            <li>-->
                            <!--                                <a href="javascript:void(0)" data-container="body"-->
                            <!--                                   data-bs-toggle="popover" data-placement="top"-->
                            <!--                                   title="" data-original-title="Tables">-->
                            <!--                                    <i data-feather="inbox"></i>-->
                            <!--                                </a>-->
                            <!--                            </li>-->

                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>

    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Report Filter</h5>
                    </div>
                    <div class="card-body">
                        <!-- Custom Font Size Utilities -->
                        <div class="mb-4">
                            <div class="mb-3">
                                <label class="form-label" for="sort">Coverage</label>
                                <select class="form-control" id="sort">
                                    <option value="very high">Universe</option>
                                    <option value="high">Entity</option>
                                    <option value="high">Scope</option>
                                </select>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label" for="startDate">From</label>
                                <input class="form-control" id="startDate" required="required" type="date">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="endDate">To</label>
                                <input class="form-control" id="endDate" required="required" type="date">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5>Reports</h5>
                    </div>
                    <div class="card-body">
                        <!-- Grayscale Utilities -->
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-6 text-right mb-3">
                                    <button class="btn btn-default border-danger btn-lg" type="button">
                                        <img th:src=" @{/images/logo/pdf.png}" width="150" height="140">
                                    </button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <a download="report.excel" href="C:/Users/User/IdeaProjects/auditapp/report/reportexcel.xlsx">
                                        <img th:src=" @{/images/logo/excel.png}" width="150" height="auto">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <a class="btn btn-default border-primary btn-lg" download="report.word"
                                       href="C:/Users/User/IdeaProjects/auditapp/report/reportdocx.docx" type="button">
                                        <img th:src=" @{/images/logo/word.png}" width="150" height="auto">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a download="report.pptx" href="C:/Users/User/IdeaProjects/auditapp/report/reportpptx.pptx">
                                        <img th:src=" @{/images/logo/powerpoint.svg}" width="150" height="auto">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">

<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>-->
<!--    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script th:src="@{/js/demo/datatables-demo.js}"></script>-->
    <script>
        const addUniverse = () => {
            let uniName = $('#universeName').val();
            if (uniName == "") {
                alert("Universe name is required!");
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-universe/add-universe";
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send(JSON.stringify({'universeName': uniName}));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {

                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    let data = JSON.parse(res).data;
                    if (JSON.parse(res).success) {

                    }

                }
            } catch (t) {
            }
        }

        function deleteUniverse(id) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this Universe?')) {
                let xhr = new XMLHttpRequest();
                let url = "/audit-universe/" + id;
                xhr.open('DELETE', url, false);
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                try {

                    xhr.send();
                    if (xhr.status != 200) {
                        // location.reload();
                        //alert('Something went wrong try again!');

                        // $('#msg').html( message("Something went wrong try again."));
                    } else {
                        $('#delete').attr('disabled', false);
                        $('#msg').html(message(data.data));
                        $('#rID' + username).remove();
                        let res = JSON.parse(xhr.responseText);
                        // if(res){
                        //     location.reload();
                        // }

                    }
                } catch (t) {
                    // location.reload();
                }

            } else {
                $('#delete').attr('disabled', false);
            }

        }

        function message(msg) {
            return `<div class="alert alert-primary alert-dismissible fade show" role="alert">
					${msg}
				</div>`
        }
    </script>
</th:block>
</body>
</html>