<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

</th:block>
<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Report</h1>
    <!-- DataTales Example -->
    <div class="row">

        <!-- First Column -->
        <div class="col-lg-4">
            <!-- Custom Font Size Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Report Filter</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="sort">Coverage</label>
                        <select class="form-control" id="sort">
                            <option value="very high">Scope</option>
                            <option value="high">Focus</option>
                            <option value="high">Procedure</option>
                        </select>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="startDate">From</label>
                        <input class="form-control" id="startDate" required="required" type="date">
                    </div>
                    <div class="mb-3">
                        <label for="endDate">To</label>
                        <input class="form-control" id="endDate" required="required" type="date">
                    </div>
                </div>
            </div>

        </div>

        <!-- Third Column -->
        <div class="col-lg-8">
            <!-- Grayscale Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Reports</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-right mb-3">
                            <button class="btn btn-default border-danger btn-lg" type="button">
                                <img th:src=" @{/img/pdf.png}" width="150" height="140">
                            </button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-default border-secondary btn-lg" type="button">
                                <img th:src=" @{/img/excel.png}" width="150" height="auto">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default border-primary btn-lg" type="button">
                                <img th:src=" @{/img/word.png}" width="150" height="auto">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default border-danger btn-lg" type="button">
                                <img th:src=" @{/img/powerpoint.svg}" width="150" height="auto">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
    <script>
        const addUniverse = () => {
            let uniName = $('#universeName').val();
            if(uniName == "") {
                alert("Universe name is required!");
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-universe/add-universe";
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send(JSON.stringify({'universeName': uniName }));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {

                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    let data = JSON.parse(res).data;
                    if (JSON.parse(res).success) {

                    }

                }
            } catch (t) { }
        }

        function deleteUniverse(id) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this Universe?')) {
                let xhr = new XMLHttpRequest();
                let url = "/audit-universe/" + id;
                xhr.open('DELETE', url, false);
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                try {

                    xhr.send();
                    if (xhr.status != 200) {
                        // location.reload();
                        //alert('Something went wrong try again!');

                        // $('#msg').html( message("Something went wrong try again."));
                    } else {
                        $('#delete').attr('disabled', false);
                        $('#msg').html(message(data.data));
                        $('#rID' + username).remove();
                        let res = JSON.parse(xhr.responseText);
                        // if(res){
                        //     location.reload();
                        // }

                    }
                } catch (t) {
                    // location.reload();
                }

            } else {
                $('#delete').attr('disabled', false);
            }

        }

        function message (msg){
            return `<div class="alert alert-primary alert-dismissible fade show" role="alert">
					${msg}
				</div>`
        }
    </script>
</th:block>
</body>
</html>