<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
</th:block>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800">Audit Scope</h1>
    <div class="card mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="dropdown no-arrow mb-4">
                <div class="row">
                    <div class="col-lg-6">
                        <select class="form-control" id="universeSelect">
                            <option value="0">Select Universe</option>
                            <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                    th:value="${uni.getUniverseId()}"></option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control" id="entitySelect">
                            <option label="&nbsp;">Select Entity</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Audit Scope
                <a  class="btn btn-info mr-2 float-right" href="/audit-scope/create">
                    <span class="fa fa-plus float-right"></span>
                </a>
            </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th hidden="hidden">Scope Id</th>
                        <th>Scope</th>
                        <th>Audit Type</th>
                        <th>Period</th>
                        <th>Start Date</th>
                        <th>User</th>
                        <th>Approval </br> Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

    <script>
        $('#universeSelect').on('change', () =>{
            let uniId = $('#universeSelect').val();
            if(uniId < 1 ){
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/get-by-universeId/" + uniId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    $('#entitySelect').html(`<option value="0" label="Select Entity">Select Entity</option>`);
                    res.forEach(x => {
                        let res = `<option value="${x.entityId}">${x.entityName}</option>`;
                        $('#entitySelect').append(res);
                    })
                }
            } catch (t) { }
        });

        $('#entitySelect').on('change', () =>{
            let entId = $('#entitySelect').val();
            if(entId < 1 ){
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-scope/find-by-entity/" + entId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                   if(res){
                       scopeTemp(res);
                   }
                }
            } catch (t) { }
        });

        const scopeTemp = (data) => {
            $('.table-bordered tbody').html('');
            data.forEach(x => {
                let res = `<tr>
                               <td>${x.scopeOfAudit}</td>
                               <td>${x.auditType}</td>
                               <td>${x.auditPeriod} week's </td>
                               <td>${x.auditStartDate}</td>
                               <td>${x.userName}</td>
                               <td class="text-center">
                                    <span class="badge badge-info">
                                        ${x.approvalStatus == 'D' ? 'DRAFT' : x.approvalStatus == 'U' ? 'UNDER-REVIEW' : 'COMPLETED'}
                                    </span>
                                </td>
                               <td>${moment(x.createDate).format('YYYY-MM-DD')}</td>
                               <td class="text-center">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm" onclick="showDetail(${x.scopeId})"><span class="fa fa-eye"></span></a>
                               </td>
                        </tr>`;

                $('.table-bordered tbody').append(res);
            });
        }

        const showDetail = (id) => {

            // if(id == "" || id == null){
            //     return;
            // }
            //
            // sessionStorage.setItem("scopeId", id);
            location = "/audit-scope/preview";
        }
    </script>

</th:block>
<!--/${x.scopeId}-->
</body>
</html>