<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
    <link rel="stylesheet" th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}">
</th:block>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-2 text-gray-800">Audit Scope</h1>
    <div class="card mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="dropdown no-arrow mb-4">
                <div class="row">
                    <div class="col-lg-6">
                        <select class="form-control" id="universeSelect">
                            <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                    th:value="${uni.getUniverseId()}"></option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control" id="entitySelect">
                            <option value="0">Select Entity</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Audit Scope
                <a  class="btn btn-info mr-2 float-right" href="/audit-scope/create">
                    <span class="fa fa-plus float-right"></span>
                </a>
            </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th hidden="hidden">Scope Id</th>
                        <th>Scope</th>
                        <th>Audit Type</th>
                        <th>Period</th>
                        <th>Start Date</th>
                        <th>User</th>
                        <th>Approval Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th hidden="hidden">Scope Id</th>
                        <th>Scope</th>
                        <th>Audit Type</th>
                        <th>Period</th>
                        <th>Start Date</th>
                        <th>User</th>
                        <th>Approval Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

</th:block>

</body>
</html>