<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Audit Scope</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="create-scope" data-container="body"
                                   data-placement="top"
                                   title="" data-original-title="Tables" >
                                    <i data-feather="plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-container="body"
                                   data-bs-toggle="popover" data-placement="top"
                                   title="" data-original-title="Tables">
                                    <i data-feather="inbox"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label" for="universeSelect">Select Universe</label>
                                <select class="form-control" id="universeSelect">
                                    <option value="0">Select Universe</option>
                                    <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"
                                            th:value="${uni.getUniverseId()}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="universeSelect">Select Entity</label>
                                <select class="form-control" id="entitySelect">
                                    <option label="&nbsp;">Select Entity</option>
                                </select>
                            </div>
                        </div>
                        <div id="msg">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display scope-table" id="basic-1">
                                <thead>
                                    <tr>
                                        <th hidden="hidden">Scope Id</th>
                                        <th>Scope</th>
                                        <th>Audit Type</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th hidden="hidden">User</th>
                                        <th>Progress</th>
                                        <th>Status</th>
                                        <th>Assign</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading -->
    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Audit Entity</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="user" method="post" th:action="@{/audit-scope/assign}"
                          th:object="${scope}">
                        <div class="modal-body">
                            <input class="scope-id" th:field="*{scopeId}" type="hidden" value="">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="forAuditor">Auditor</label>
                                    <select class="form-control" id="forAuditor" th:field="*{assignedTo}">
                                        <option th:each="rol : ${user}" th:text="${rol.getUsername()}"
                                                th:value="${rol.getUsername()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">

    <script>
        $('#universeSelect').on('change', () => {
            let uniId = $('#universeSelect').val();
            if (uniId < 1) {
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-entity/get-by-universeId/" + uniId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status !== 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    $('#entitySelect').html(`<option value="0" label="Select Entity">Select Entity</option>`);
                    res.forEach(x => {
                        let res = `<option value="${x.entityId}">${x.entityName}</option>`;
                        $('#entitySelect').append(res);
                    })
                }
            } catch (t) {
            }
        });

        $('#entitySelect').on('change', () => {
            let entId = $('#entitySelect').val();
            if (entId < 1) {
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-scope/find-by-entity/" + entId;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    if (res) {
                        scopeTemp(res);
                    }
                }
            } catch (t) {
            }
        });

        const scopeTemp = (data) => {
            $('.scope-table tbody').html('');
            data.forEach(x => {
                let res = `<tr>
                               <td>${x.scopeOfAudit}</td>
                               <td>${x.auditType}</td>
                               <td>${x.auditStartDate}</td>
                               <td>${moment(x.auditEndDate).format('YYYY-MM-DD')}</td>
                               <td hidden="hidden">${x.userName}</td>
                               <td>
                                    <div class="progress">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                                         role="progressbar" style="width: ${x.progressLevel}%"
                                         class="${x.progressLevel <= 20 ? 'progress-bar bg-danger'
                                            : x.progressLevel > 20 && x.progressLevel <= 40 ? 'progress-bar bg-warning'
                                            : x.progressLevel > 40 && x.progressLevel <= 60 ? 'progress-bar bg-primary'
                                            : x.progressLevel > 60 && x.progressLevel <= 80 ? 'progress-bar bg-info'
                                            : 'progress-bar bg-success'}">
                                    </div>
                               </td>
                               <td class="text-center">
                                    <span class="badge badge-info">
                                        ${x.approvalStatus}
                                    </span>
                                </td>
                                <td class="text-center">
                                    ${x.assignedTo != null ?
                                        x.assignedTo  :
                                        `<a data-toggle="modal" data-target="#" onclick="OpenAssign('${x.scopeId}')" class="btn btn-warning btn-sm"><span class="fa fa-user"></span></a>`}

                               </td>
                               <td class="text-center">
                                    <a href="/audit-scope/preview/${x.scopeId}" class="btn btn-primary btn-sm"><span class="fa fa-eye"></span></a>
                               </td>
                        </tr>`;

                $('.scope-table tbody').append(res);
            });
        }

        const OpenAssign = (scopeId) => {
            if(scopeId == null || scopeId == ''){
                return;
            };

            $('.scope-id').val(scopeId);
            $('#assignModal').modal('show');
        }
        $('.create-scope').click(() => {
            sessionStorage.removeItem('editScopeId');
            location = '/audit-scope/create';
        })
    </script>

</th:block>
<!--/${x.scopeId}-->
</body>
</html>