<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

</th:block>
<body>
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Audit Universe</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Audit Universe
                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal"><span class="fa fa-plus float-right"></span></a>
            </h6>
        </div>
        <div class="card-body">
            <div id="msg">

            </div>
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>Universe Id</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="univ : ${universe}"
                            th:id="${'rID'} + ${univ.getUniverseId()}">
                            <td th:text="${univ.getUniverseId()}"></td>
                            <td th:text="${univ.getUniverseName()}"></td>
                            <td class="text-center">&nbsp;
                                <a href="javascript:void(0)"
                                   id="delete"
                                   th:data-univ_id="${univ.getUniverseId()}"
                                   onclick="deleteUniverse(this.getAttribute('data-univ_id'))">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Universe Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Universe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" th:action="@{/audit-universe}" th:object="${universeObj}">
                        <div class="modal-body">

                                <div class="mb-3">
                                    <!--<label for="universeName">Universe Name</label>-->
                                    <input class="form-control" name="universeName" id="universeName" placeholder="Universe Name"
                                          th:field="*{universeName}" type="text">
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
    <script>
        const addUniverse = () => {
            let uniName = $('#universeName').val();
            if(uniName == "") {
                alert("Universe name is required!");
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-universe/add-universe";
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send(JSON.stringify({'universeName': uniName }));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {

                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    let data = JSON.parse(res).data;
                    if (JSON.parse(res).success) {

                    }

                }
            } catch (t) { }
        }

        function deleteUniverse(id) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this Universe?')) {
                let xhr = new XMLHttpRequest();
                let url = "/audit-universe/" + id;
                xhr.open('DELETE', url, false);
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                try {

                    xhr.send();
                    if (xhr.status != 200) {
                        location.reload();
                        //alert('Something went wrong try again!');

                       // $('#msg').html( message("Something went wrong try again."));
                    } else {
                        $('#delete').attr('disabled', false);
                        $('#msg').html(message(data.data));
                        $('#rID' + username).remove();
                        let res = JSON.parse(xhr.responseText);
                        if(res){
                            location.reload();
                        }

                    }
                } catch (t) {location.reload(); }

            } else {
                $('#delete').attr('disabled', false);
            }

        }

        function message (msg){
            return `<div class="alert alert-primary alert-dismissible fade show" role="alert">
					${msg}
				</div>`
        }
    </script>
</th:block>
</body>
</html>