<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">
    <!-- Plugins css start-->

</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Audit Universe</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" data-container="body"
                                  data-placement="top"
                                   title="" data-original-title="Tables" data-bs-toggle="modal"
                                   data-bs-target="#exampleModalCenter">
                                    <i data-feather="plus"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Bookmark Start-->
                                <div class="bookmark">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" data-container="body"
                                               data-placement="top"
                                               title="" data-original-title="Tables" data-bs-toggle="modal"
                                               data-bs-target="#exampleModalCenter">
                                                <i data-feather="plus"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <!-- Bookmark Ends-->
                            </div>
                        </div>
                        <div id="msg">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" id="basic-1">
                                <thead>
                                    <tr>
                                        <th hidden="hidden">Universe Id</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="univ : ${universe}"
                                        th:id="${'rID'} + ${univ.getUniverseId()}">
                                        <td hidden="hidden" th:text="${univ.getUniverseId()}"></td>
                                        <td th:text="${univ.getUniverseName()}"></td>
                                        <td class="text-center">&nbsp;
                                            <a href="javascript:void(0)"
                                               id="delete"
                                               th:data-univ_id="${univ.getUniverseId()}"
                                               onclick="deleteUniverse(this.getAttribute('data-univ_id'))">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New universe</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/audit-universe}" th:object="${universeObj}">
                        <div class="modal-body">
                                <div class="mb-3">
                                    <input class="form-control" name="universeName" id="universeName" placeholder="Universe Name"
                                          th:field="*{universeName}" type="text">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">

    <!-- Plugins JS start-->
    <script th:src="@{js/datatable/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{js/datatable/datatables/datatable.custom.js}"></script>
    <script th:src="@{js/tooltip-init.js}"></script>
    <!-- Plugins JS Ends-->

    <script>
        const addUniverse = () => {
            let uniName = $('#universeName').val();
            if(uniName == "") {
                alert("Universe name is required!");
                return;
            }
            let xhr = new XMLHttpRequest();
            let url = "/audit-universe/add-universe";
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {
                xhr.send(JSON.stringify({'universeName': uniName }));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    let data = JSON.parse(res).data;
                    if (JSON.parse(res).success) {
                    }
                }
            } catch (t) { }
        }

        function deleteUniverse(id) {
            $('#delete').attr('disabled', true);
            if (confirm('Are you sure to delete this Universe?')) {
                let xhr = new XMLHttpRequest();
                let url = "/audit-universe/" + id;
                xhr.open('DELETE', url, false);
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                try {
                    xhr.send();
                    if (xhr.status !== 200) {
                    } else {
                        $('#delete').attr('disabled', false);
                        let res = JSON.parse(xhr.responseText);
                        if(res){
                            $('#rID' + id).remove();
                            $('#msg').html(message("Universe deleted successfully"));
                            location.reload();
                        }
                    }
                } catch (t) {
                    // location.reload();
                }
            } else {
                $('#delete').attr('disabled', false);
            }
        }

        function message (msg){
            return `<div class="alert alert-primary alert-dismissible fade show" role="alert">
					${msg}
				</div>`
        }
    </script>
</th:block>
</body>
</html>