<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

</th:block>
<body>
<div layout:fragment="content">

    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Users</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" data-container="body"
                                   data-placement="top"
                                   title="" data-original-title="Tables" data-bs-toggle="modal"
                                   data-bs-target="#exampleModal">
                                    <i data-feather="plus"></i>
                                </a>
                            </li>
                            <!--                            <li>-->
                            <!--                                <a href="javascript:void(0)" data-container="body"-->
                            <!--                                   data-bs-toggle="popover" data-placement="top"-->
                            <!--                                   title="" data-original-title="Tables">-->
                            <!--                                    <i data-feather="inbox"></i>-->
                            <!--                                </a>-->
                            <!--                            </li>-->

                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="row">
            <!-- Zero Configuration  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div id="msg">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display scope-table" id="basic-1">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Manager</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${users}"
                                        th:id="${'rID'} + ${user.getUserId()}">
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getRoleName()}"></td>
                                        <td th:text="${user.getSupvroleName()}"></td>
                                        <td><span th:class="${!user.getIsActive().equals('ACTIVE')?'badge badge-pill badge-danger':'badge badge-pill badge-success'}" th:text="${user.getIsActive()}"></span></td>
                                        <td class="text-center">&nbsp;
                                            <a data-target="#"
                                               data-toggle="modal" href="javascript:void(0)"
                                               onclick="openEditModal(this.getAttribute('data-user_id'))"
                                               th:data-ent_id="${user.getUserId()}">
                                                <span class="fa fa-pen"></span>
                                            </a>
                                            <a href="javascript:void(0)"
                                               id="delete"
                                               onclick="deleteUniverse(this.getAttribute('data-user_id'))"
                                               th:data-univ_id="${user.getUserId()}">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New User</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/audit-user}" th:object="${user}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label" for="userName">Username/Email</label>
                                <input class="form-control" id="userName" name="userName"
                                       th:field="*{username}" type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="forRole">Role</label>
                                <select class="form-control" id="forRole" th:field="*{role}">
                                    <option th:each="rol : ${role}" th:text="${rol.getName()}"
                                            th:value="${rol.getRoleId()}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="forSupvRole">Supervisory Role</label>
                                <select class="form-control" id="forSupvRole" th:field="*{role}">
                                    <option th:each="rol : ${role}" th:text="${rol.getName()}"
                                            th:value="${rol.getRoleId()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<th:block layout:fragment="script">

</th:block>
</body>
</html>