<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>

    <!-- Propeller Accordion -->
<!--    <link-->
<!--            href="https://opensource.propeller.in/components/floating-action-button/css/floating-action-button.css"-->
<!--            rel="stylesheet" type="text/css"/>-->

<!--    <link-->
<!--            href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"-->
<!--            rel="stylesheet">-->
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="h3 mb-2 text-gray-800">Scope Details </h1>
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-5 mb-3">
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <div class="d-flex flex-column align-items-center text-center">-->
<!--                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">-->
<!--                                <div class="mt-3">-->
<!--                                    <h4>John Doe</h4>-->
<!--                                    <p class="text-secondary mb-1">Full Stack Developer</p>-->
<!--                                    <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>-->
<!--                                    <button class="btn btn-primary">Follow</button>-->
<!--                                    <button class="btn btn-outline-primary">Message</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit Type</h6>
                                <span class="text-secondary audit-type"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit Period</h6>
                                <span class="text-secondary period"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Approval Status</h6>
                                <span class="text-secondary approval"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit StartDate</h6>
                                <span class="text-secondary startDate"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit EndDate</h6>
                                <span class="text-secondary endDate"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Scope</h6>
                                </div>
                                <div class="col-sm-9 text-secondary scope">  </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Purpose</h6>
                                </div>
                                <div class="col-sm-9 text-secondary purpose"> </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Objective</h6>
                                </div>
                                <div class="col-sm-9 text-secondary objective">  </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Definition</h6>
                                </div>
                                <div class="col-sm-9 text-secondary definition">  </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Scheduled Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary schedule"> </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info" href="#">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Audit Focus
                            <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#focusModal">Add New Focus</button>
                        </div>
                        <div class="card-body p-0">
                            <!-- Billing history table-->
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">-</th>
                                        <th class="border-gray-200" scope="col">Scope</th>
                                        <th class="border-gray-200" scope="col">Purpose</th>
                                        <th class="border-gray-200" scope="col">Objective</th>
                                        <th class="border-gray-200" scope="col">Definition</th>
                                        <th class="border-gray-200" scope="col">scheduled Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>#39201</td>
                                            <td>06/15/2021</td>
                                            <td>$29.99</td>
                                            <td>$29.99</td>
                                            <td><span class="badge bg-light text-dark">Pending</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="focusModal" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="focusModalLabel">New Audit Focus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user" method="post" th:action="@{/audit-focus/save}"
                          th:object="${focus}">
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="universeSelect">Universe<span style="color: red">*</span></label>
                                    <select class="form-control" id="universeSelect" required="required">
                                        <!--                                    <option th:each="uni : ${universe}" th:text="${uni.getUniverseName()}"-->
                                        <!--                                            th:value="${uni.getUniverseId()}"></option>-->
                                    </select>
                                </div>

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="entitySelect">Entity<span style="color: red">*</span></label>
                                    <select class="form-control" id="entitySelect" required="required">
                                        <option value="&nbsp;">Select Entity</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="scopeName">Scope of Audit<span style="color: red">*</span></label>
                                    <input class="form-control" id="scopeName" required="required"
                                           type="text">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="scopePeriod">Scope Period (Weeks)<span style="color: red">*</span></label>
                                    <input class="form-control" id="scopePeriod" required="required"
                                           type="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="scopeStartDate">Start Date<span style="color: red">*</span></label>
                                    <input class="form-control" id="scopeStartDate" required="required"
                                           type="date"/>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="auditType">Audit Type<span style="color: red">*</span></label>
                                    <select class="form-control" id="auditType" required="required" >
                                        <option value="1">Routine</option>
                                        <option value="2">Adhoc</option>
                                        <option value="3">Spot check</option>
                                        <option value="4">Follow-up</option>
                                        <option value="5">Special investigation</option>
                                    </select>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="definition">Scope Definition</label>
                                    <textarea class="form-control" id="definition" rows="5"
                                    >
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="objective">Objectives</label>
                                    <textarea class="form-control" id="objective" rows="5"
                                    >
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="purpose">Purpose</label>
                                    <textarea class="form-control" id="purpose" rows="5"
                                    >
                                    </textarea>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="endDate">End Date</label>
                                    <input class="form-control" id="endDate"  type="date"/>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="script">
    <script>

        $(document).ready(() => {
            let scopeId = sessionStorage.getItem("scopeId");
            getScope(scopeId);
        })
        const getScope = (id) =>{

            if(id < 1 ){
                location = "/audit-scope";
            }

            let xhr = new XMLHttpRequest();
            let url = `/audit-scope/${id}`;
            xhr.open('GET', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send();
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    if(res){
                        scopeTemp(res);
                    }
                }
            } catch (t) { }
        }


        const scopeTemp = (data) => {
           $('.scope').text(data.scopeOfAudit);
           $('.purpose').text(data.scopePurpose);
           $('.objective').text(data.scopeObjectives);
           $('.definition').text(data.scopeDef);
           $('.schedule').text(data.schedulledDate != null ? data.schedulledDate : '' );

           $('.audit-type').text(data.auditType);
           $('.period').text(data.auditPeriod);
           $('.approval').text(data.approvalStatus);
           $('.startDate').text(data.auditStartDate);
           $('.endDate').text(data.auditEndDate);

        }
    </script>
</th:block>
</body>
</html>