<!DOCTYPE html>
<html lang="en" layout:decorate="@{layouts/_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="style">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Propeller Button -->
    <link
            href="https://opensource.propeller.in/components/button/css/button.css"
            rel="stylesheet" type="text/css"/>

    <!-- Propeller Accordion -->
<!--    <link-->
<!--            href="https://opensource.propeller.in/components/floating-action-button/css/floating-action-button.css"-->
<!--            rel="stylesheet" type="text/css"/>-->

<!--    <link-->
<!--            href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"-->
<!--            rel="stylesheet">-->
    <style>
        body {
            background: transparent;
        }

    </style>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Scope Details</h1>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-5 mb-3">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit Type</h6>
                                <span class="text-secondary audit-type"
                                      th:text="${scoped.getAuditType()}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Proposed Period</h6>
                                <span class="text-secondary period"
                                      th:text="${scoped.getAuditPeriod()}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Approval Status</h6>
                                <span class="text-secondary approval"
                                      th:text="${scoped.getApprovalStatus()}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit StartDate</h6>
                                <span class="text-secondary startDate"
                                      th:text="${scoped.getAuditStartDate()}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Audit EndDate</h6>
                                <span class="text-secondary endDate"
                                      th:text="${scoped.getAuditEndDate()}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Scope</h6>
                                </div>
                                <div class="col-sm-9 text-secondary scope" th:text="${scoped.getScopeOfAudit()}"> </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Purpose</h6>
                                </div>
                                <div class="col-sm-9 text-secondary purpose" th:text="${scoped.getScopePurpose()}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Objective</h6>
                                </div>
                                <div class="col-sm-9 text-secondary objective" th:text="${scoped.getScopeObjectives()}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Definition</h6>
                                </div>
                                <div class="col-sm-9 text-secondary definition" th:text="${scoped.getScopeDef()}"> </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Scheduled Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary schedule" th:text="${scoped.getSchedulledDate()}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info" href="#">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Billing history card-->
                    <div class="card mb-4">
                        <div class="card-header">
                            Audit Focus
                            <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#focusModal">Add New Focus</button>
                        </div>
                        <div class="card-body p-0">
                            <!-- Billing history table-->
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">Area of Focus</th>
                                        <!--                                        <th class="border-gray-200" scope="col">Scope</th>-->
                                        <th class="border-gray-200" scope="col">Scheduled Date</th>
                                        <th class="border-gray-200" scope="col">Start Date</th>
                                        <th class="border-gray-200" scope="col">Progress</th>
                                        <th class="border-gray-200" scope="col">Status</th>
                                        <th class="border-gray-200" scope="col">-</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="f : ${foci}"
                                            th:id="${'rID'} + ${f.getFocusId()}">
                                            <td>
                                                <a href="/audit-focus/page-query" th:text="${f.getAreaOfFocus()}"></a>
                                            </td>
                                            <td th:text="${f.getSchedulledDate()}"></td>
                                            <td th:text="${f.getStartDate()}"></td>
                                            <td>
                                                <div class="progress mb-4">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                                                         role="progressbar" style="width: ${f.progressLevel} + '%'"
                                                         th:class="${f.progressLevel <= 20 ? 'progress-bar bg-danger'
                                                    : f.progressLevel > 20 && f.progressLevel <= 40 ? 'progress-bar bg-warning'
                                                    : f.progressLevel > 40 && f.progressLevel <= 60 ? 'progress-bar bg-primary'
                                                    : f.progressLevel > 60 && f.progressLevel <= 80 ? 'progress-bar bg-info'
                                                    : 'progress-bar bg-success'}"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-info" th:text="${'Y' == (f.getStartFlag()) ? 'ACTIVE':'SCHEDULED'}"></span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" data-target="#"
                                                           th:data-fcs_id="${f.getScopeId()}"
                                                           data-toggle="modal" onclick="openProcedure(this.getAttribute('data-fcs_id'))" href="javascript:void(0)">Add Audit Procedure</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="focusModal" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="focusModalLabel">New Audit Focus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user" method="post" th:action="@{/audit-focus/save}"
                          th:object="${focus}">
                        <div class="modal-body">
                            <input class="scope-id" th:field="*{scopeId}" type="hidden" value="">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="areaoffocus">Area of Focus<span style="color: red">*</span></label>
                                    <input class="form-control" id="areaoffocus" required="required"
                                          th:field="*{areaOfFocus}" type="text">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="scheduledate">Schedule Date<span style="color: red">*</span></label>
                                    <input class="form-control" id="scheduledate" required="required"
                                           th:field="*{schedulledDate}" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="procedureModalLabel" class="modal fade" id="procedureModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="procedureModalLabel">New Audit Focus</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user" action="#">

                        <div class="modal-body">
                            <div id="err"></div>
                            <input class="scope-id" type="hidden" value="">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="procedureName">Procedure Name<span style="color: red">*</span></label>
                                    <input class="form-control" id="procedureName" required="required" type="text">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="startDate">Start Date<span style="color: red">*</span></label>
                                    <input class="form-control" id="startDate" required="required" type="date">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="endDate">End Date<span style="color: red">*</span></label>
                                    <input class="form-control" id="endDate" required="required" type="date">

                                </div>
                            </div>
                            <button class="btn btn-primary btn-procedure" type="button">
                                <i class="fa fa-plus"></i>
                            </button>

<!--                            <div class="row form-group">-->
<!--                                <div class="col-md-3" th:each="proc : ${procedures}">-->
<!--                                    <input class="form-control form-check" th:text="${proc.procedure}" type="checkbox">-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="row">
                                <div class="col-md-12">

                                        <table class="table table-striped mt-3 procedure-table">
                                            <thead>
                                            <tr>
                                                <th class="border-gray-200" scope="col">-</th>
                                                <th class="border-gray-200" scope="col">Procedure Name</th>
                                                <th class="border-gray-200" scope="col">Start Date</th>
                                                <th class="border-gray-200" scope="col">End Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-primary btn-send" type="button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="procedureListModalLabel" class="modal fade" id="procedureListModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="procedureListModalLabel">New Audit Focus</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                            <div class="table-responsive table-billing-history">
                                <table class="table mb-0 procedure-list-table">
                                    <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">Procedure</th>
                                        <th class="border-gray-200" scope="col">Start Date</th>
                                        <th class="border-gray-200" scope="col">End Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" data-dismiss="modal" type="button">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="script">
    <script>

        $(document).ready(() => {
            let scopeId = sessionStorage.getItem("scopeId");

            let url = $(location).attr('href'),
                parts = url.split("/"),
                last_part = parts[parts.length-1];
            $('.scope-id').val(last_part);
        });
        let focusId = '';
        const openProcedure = (id) =>{
            if(id < 1 ){
                return;
            }

            focusId = id;
            $('#procedureModal').modal('show');
        };

        let arrProcedure = [];

        $('.btn-procedure').click(function(e) {

            let procedure = $('#procedureName').val();
            let startDate = $('#startDate').val();
            let endDate = $('#endDate').val();

            if(procedure == "" || procedure == null){
                $('#err').html(message("Procedure Name is required!"));
                $('#procedureName').focus();
                return;
            }
            if(startDate == "" || startDate == null){
                $('#err').html(message("Start date is required!"));
                $('#startDate').focus();
                return;
            }
            if(endDate == "" || endDate == null){
                $('#err').html(message("End date is required!"));
                $('#endDate').focus();
                return;
            }

            let obj = {
                'procedure': procedure,
                'startDate': startDate,
                'endDate': endDate
            };

            let existProcedure =  arrProcedure.filter(function(i) {
                return i.procedure == obj.procedure;
            });
            console.log(existProcedure);
            if(existProcedure.length > 0){
                $('#err').html(message("You can\'t have same procedure name attached to a specific focus!"));
                $('#procedureName').focus();
                return;
            }

            arrProcedure.push(obj);

            tempTable();
            clearField();

            obj = {};
        });

        const  clearField = () =>{
            $('#procedureName').val('');
            $('#startDate').val('');
            $('#endDate').val('');
            $('#procedureName').focus();
        }

        const tempTable = () =>{
            $('.procedure-table tbody').html('');
            arrProcedure.forEach( (x, index) => {
                let res = `
                    <tr>
<!--                        <td><input type="checkbox" id="chk${index}" class="form-check"></td>-->
                        <td><a href="javascript:void(0)" onclick="removeData(' + index + ')"
                                class="btn btn-danger  btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"> <li class="fa fa-trash"></li>
                            </a>
                        </td>
                        <td>${x.procedure}</td>
                        <td>${x.startDate}</td>
                        <td>${x.endDate}</td>
                    </tr>
                   `;
                $('.procedure-table tbody').append(res);
            });
        }

        function removeData(index) {
            arrProcedure.splice(index, 1);
            tempTable();
        }

        $('.btn-send').click(() =>{
            if(arrProcedure.length < 1){
                $('#err').html(message("Add as many procedure for this focus!"));
                $('#procedureName').focus();
                return;
            }

            let xhr = new XMLHttpRequest();
            let url = `/audit-procedures`;
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send(JSON.stringify(arrProcedure));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    if(res){

                    }
                }
            } catch (t) { }
        });


        const getProcedure = (focusId) => {

            let xhr = new XMLHttpRequest();
            let url = `/audit-procedures/${foccusId}`;
            xhr.open('POST', url, false);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            try {

                xhr.send(JSON.stringify(arrProcedure));
                if (xhr.status != 200) {
                    //alert('Something went wrong try again!');
                } else {
                    let res = JSON.parse(xhr.responseText);
                    console.log(res);
                    if(res){
                        $('#procedureListModal').modal('show');
                        procedureTable(res);
                    }
                }
            } catch (t) { }
        }


        const procedureTable = (data) => {
            $('.procedure-list-table tbody').html('');
            arrProcedure.forEach( (x, index) => {
                let res = `
                    <tr>
                        <td>${x.procedure}</td>
                        <td>${x.startDate}</td>
                        <td>${x.endDate}</td>
                    </tr>
                   `;
                $('.procedure-list-table tbody').append(res);
            });
        }

        const message = (msg) =>{
            return `<div class="alert alert-primary" role="alert">
                  ${msg}
                </div>`
        }
    </script>
</th:block>
</body>
</html>